<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-center">Login</h4>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.label :email %><br />
              <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
            </div>
          </div><br />

          <div class="row mt-3">
            <div class="col-md-12">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div><br />

          <div class="actions mt-5 text-center">
            <%= f.submit "Login", class: "btn btn-primary profile-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>